/* Estilos generales */
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

/* Contenedor principal */
.imagenes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Estilos de las tarjetas de imagen */
.image-card {
    box-sizing: border-box;
    padding: 5px;
    width: 33.333%;
    display: flex;
    justify-content: center;
    position: relative; /* Para el posicionamiento de la descripción */
}

.image-card a {
    display: flex;
    justify-content: center;
    position: relative;
    text-decoration: none; /* Eliminar el subrayado de los enlaces */
}

.image-card img {
    width: 100%;
    height: auto;
    max-width: 300px;
}

.image-card span {
    position: absolute;
    bottom: 10px; /* Ajusta según necesidad */
    left: 0;
    width: 100%;
    text-align: center;
    color: #fff; /* Color del texto */
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
    padding: 5px 0; /* Espaciado interior para el texto */
}

/* Media queries para la versión móvil */
@media (max-width: 768px) {
    .image-card {
        width: 100%;
    }
}
