body{
  background-color: #474947;
}
main{
  background-color: #474947;
  
}

section{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 400px;
  flex-flow: column;
  position: absolute;
  top: 30%;
  left: 40%;
  border: 8px solid rgb(30, 255, 0);
  border-radius: 20px;
}
h2{
  font-size: xx-large;
  text-align: center;
  color: #ffffff;
  background-color: #11fd11;
  border-radius: 20px;
  box-shadow: 5px 5px #e4e0e0;
}

.form-group{
  position: relative;
  margin: 40px 0;
  
}
.form-group a{
  position: absolute;
  margin: 10px;
  left: 25%;
  color: white;
}
.form-group input{
  padding: 8px 10px;
  font-size: 18px;
  border-radius: 20px;
  border: #000000 solid 2.5px;
  background-color: transparent;
  color: #ffffff;
  transition: 0.15s all ease;
  width:300px;
}
.form-group input:focus{
  border-color: #000000;
}
.form-group input::placeholder{
  color: transparent;
}
.form-group input:hover{
  box-shadow: 5px 5px rgb(117, 179, 24);
}
.form-group .form-label{
  position: absolute;
  top: 9px;
  left: 0;
  font-size: 18px;
  padding: 0 10px;
  color: #ffffff;
  pointer-events: none;
  transition: 0.15s all ease;
}
.form-group input:focus + .form-label,
.form-group input:not(:placeholder-shown) + 
.form-label{
  transform: translate(5px, -22px);
  background-color: #11fd11;
  font-size: 16px;
}
.btn{
    width: 100%;
    height: 45px;
    border-radius: 45px;
    background: rgb(66, 73, 73);
    border: 2px solid black;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    color: #11fd11;
    font-weight: 600;
  
}
.btn:hover{
  background-color: #008000;
  color: #ffffff;
  box-shadow: 5px 5px green, 10px 10px darkgreen;
}
