* styles.css */

body {
    display: grid;
    grid-template-rows: auto 1fr auto; /* Cabecera, contenido principal, pie de página */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh; /* Asegura que el grid ocupe al menos toda la altura de la ventana */
}

header {
    background-color: #007BFF;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav {
    display: block;
}

header nav ul {
    display: flex; /* Flexbox para la navegación */
    list-style: none;
    padding: 0;
    gap: 20px; /* Espaciado entre elementos del menú */
}

header nav ul li {
    margin-right: 0; /* Removido para permitir el control a través de Flexbox */
}

header nav ul li a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    display: grid;
    place-items: center;
}

@media (max-width: 768px) {
    header nav ul {
        flex-direction: column; /* Cambia la orientación del menú en pantallas pequeñas */
        align-items: center; /* Alinea elementos del menú verticalmente */
    }

    header nav ul li {
        display: block; /* Asegura que los elementos del menú se muestren correctamente en una columna */
    }
}
