
body {
  display: grid;
  grid-template-rows: auto 1fr auto; 
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh; 
}

nav {
  display: flex;
  align-items: center; 
  justify-content: space-between; 
  background-color: #008000; 
  padding: 20px; 
}
input{
width: 300px;
height: 20px;
border-radius: 20px;
}
img{
border-radius: 20px;
}
nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin-left: 100px; 
}

nav ul li:first-child {
  margin-left: 0; 
}

nav ul li a {
  text-decoration: none; 
  color: #fff;
  font-size: 22px;
}
nav a {
color: rgb(255, 255, 255);
text-decoration: none;
font-size:x-large;
filter: drop-shadow(10px 10px 15px rgb(0, 0, 0));


}

nav ul li a:hover {
  color: #d7f844;
  text-decoration: underline;
}

footer {
  background-color: #008000;
  color: #fff; 
  padding: 20px;
  text-align: center; 
}



@media (max-width: 768px) {
  header nav ul {
      flex-direction: column; 
      align-items: center; 
  }

  header nav ul li {
      display: block; 
  }
  .dropbtn {
    background-color: #0a6342;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    display: flex;
    position: fixed;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 10px 10px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #3e8e41;}
  }
   

header button{
  display: none;
 }


main{
  background-color: #474947;
  
}

section{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 500px;
  flex-flow: column;
  position: absolute;
  top: 15%;
  left: 40%;
  border: 8px solid rgb(30, 255, 0);
  border-radius: 20px;
}
h2{
  font-size: xx-large;
  text-align: center;
  color: #ffffff;
  background-color: #11fd11;
  border-radius: 20px;
  box-shadow: 5px 5px #e4e0e0;
}

.form-group{
  position: relative;
  margin: 40px 0;
  
}
.form-group input{
  padding: 8px 10px;
  font-size: 18px;
  border-radius: 20px;
  border: #000000 solid 2.5px;
  background-color: transparent;
  color: #ffffff;
  transition: 0.15s all ease;
  width:300px;
}
.form-group input:focus{
  border-color: #000000;
}
.form-group input::placeholder{
  color: transparent;
}
.form-group input:hover{
  box-shadow: 5px 5px rgb(117, 179, 24);
}
.form-group .form-label{
  position: absolute;
  top: 9px;
  left: 0;
  font-size: 18px;
  padding: 0 10px;
  color: #ffffff;
  pointer-events: none;
  transition: 0.15s all ease;
}
.form-group input:focus + .form-label,
.form-group input:not(:placeholder-shown) + 
.form-label{
  transform: translate(5px, -22px);
  background-color: #11fd11;
  font-size: 16px;
}
.btn{
    width: 100%;
    height: 45px;
    border-radius: 45px;
    background: rgb(66, 73, 73);
    border: 2px solid black;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    color: #11fd11;
    font-weight: 600;
  
}
.btn:hover{
  background-color: #008000;
  color: #ffffff;
  box-shadow: 5px 5px green, 10px 10px darkgreen;
}












.wrapper {
  display: inline-flex;
  list-style: none;
}

.wrapper .icon {
  position: relative;
  background: #ffffff;
  border-radius: 50%;
  padding: 15px;
  margin: 20px;
  width: 30px;
  height: 30px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background: #1877f2;
  color: #ffffff;
}

.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
  background: #222222;
  color: #ffffff;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background: #e4405f;
  color: #ffffff;
}

.wrapper .github:hover,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip::before {
  background: #833ab4;
  color: #ffffff;
}

.wrapper .youtube:hover,
.wrapper .youtube:hover .tooltip,
.wrapper .youtube:hover .tooltip::before {
  background: #cd201f;
  color: #ffffff;
}
*:focus,
*:active {
outline: none !important;
-webkit-tap-highlight-color: transparent;
}